@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f7fafc;
}

.custom-container {
  width: min(1280px, 90%);
  margin-inline: auto;
}

.truncate-4-lines {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
